In [22]:
from metaflow import Flow, get_metadata
print("Current metadata provider: %s" % get_metadata())

run = Flow('DataProcessing').latest_successful_run

Current metadata provider: local@/home/rogeriojunior/Documents/EPS/Analytics

In [23]:
m_dfs = run.data.metrics_dfs

In [24]:
m_dfs['gateway']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,214
nunito,0.500000,0.0,1.0,NaN,NaN,NaN,0.495000,0.495000,NaN,NaN,0.495000,NaN,270
quicksand,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,214
raleway,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,216
rubik,0.538462,0.0,1.0,NaN,NaN,NaN,0.507692,0.507692,NaN,NaN,0.507692,NaN,343
zendots,0.538462,0.0,1.0,NaN,NaN,NaN,0.507692,0.507692,NaN,NaN,0.507692,NaN,343

In [25]:
m_dfs['user']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.583333,0.0,1.0,NaN,NaN,NaN,0.522500,0.522500,NaN,NaN,0.522500,NaN,291
nunito,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
quicksand,0.583333,0.0,1.0,NaN,NaN,NaN,0.522500,0.522500,NaN,NaN,0.522500,NaN,291
raleway,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
rubik,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
zendots,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354

In [26]:
m_dfs['rating']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.750000,0.250000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,315
nunito,0.727273,0.272727,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,238
quicksand,0.750000,0.250000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,315
raleway,0.727273,0.272727,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,238
rubik,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,356
zendots,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,356

In [27]:
m_dfs['request']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,481
nunito,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816
quicksand,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,481
raleway,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816
rubik,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,835
zendots,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816

In [28]:
services = run.data.services_metrics

In [29]:
issues_per_release = run.data.issues_per_release

In [30]:
releases = run.data.releases

In [31]:
issues_metrics = run.data.issues_metrics

In [32]:
issues_metrics

{'Raleway': {'issues_resolved': 107,
  'issues_total': 108,
  'labels_count': {'DOCS': 49,
   'EPS': 68,
   'MDS': 49,
   'ARQ': 3,
   'DEVOPS': 10,
   'US': 23,
   'MEDIUM': 23,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 1,
   'HARD': 1}},
 'Nunito': {'issues_resolved': 107,
  'issues_total': 108,
  'labels_count': {'DOCS': 49,
   'EPS': 68,
   'MDS': 49,
   'ARQ': 3,
   'DEVOPS': 10,
   'US': 23,
   'MEDIUM': 23,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 1,
   'HARD': 1}},
 'ZenDots - MVP': {'issues_resolved': 108,
  'issues_total': 113,
  'labels_count': {'DOCS': 49,
   'EPS': 69,
   'MDS': 52,
   'ARQ': 3,
   'DEVOPS': 10,
   'US': 27,
   'MEDIUM': 26,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 1,
   'HARD': 3}},
 'Rubik': {'issues_resolved': 108,
  'issues_total': 113,
  'labels_count': {'DOCS': 49,
   'EPS': 69,
   'MDS': 52,
   'ARQ': 3,
   'DEVOPS': 10,
   'US': 27,
   'MEDIUM': 26,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 1,
   'HARD': 3}},
 'Quicksand': {'issues_resolved': 110,
  'issues_total': 118,
  'labels_count': {'DOCS': 49,
   'EPS': 69,
   'MDS': 57,
   'ARQ': 3,
   'DEVOPS': 10,
   'US': 27,
   'MEDIUM': 31,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 1,
   'HARD': 3}},
 'GoblinOne': {'issues_resolved': 119,
  'issues_total': 134,
  'labels_count': {'DOCS': 50,
   'EPS': 84,
   'MDS': 67,
   'ARQ': 3,
   'DEVOPS': 12,
   'US': 27,
   'MEDIUM': 44,
   'EASY': 8,
   'FEATURE': 3,
   'HOTFIX': 3,
   'ANALYTICS': 13,
   'HARD': 6}}}

In [10]:
for release, issues in issues_per_release.items():
    print(release + ' ' +  next(item for item in releases if item['name'] == release)['published_at'])
    
    for issue in issues:
        print(str(issue['number']) + ' ' + issue['created_at'])

Raleway 2021-04-14T01:28:02Z
4 2021-02-06T09:56:38Z
5 2021-02-06T10:01:18Z
6 2021-02-06T10:05:42Z
7 2021-02-06T10:08:15Z
8 2021-02-06T10:13:39Z
9 2021-02-06T10:22:09Z
10 2021-02-06T10:26:14Z
11 2021-02-06T10:29:13Z
12 2021-02-06T10:35:01Z
13 2021-02-06T10:37:09Z
14 2021-02-06T10:40:06Z
15 2021-02-06T10:45:11Z
16 2021-02-06T10:58:41Z
17 2021-02-06T12:24:08Z
18 2021-02-06T12:34:01Z
19 2021-02-06T12:37:29Z
20 2021-02-06T12:41:16Z
21 2021-02-06T12:44:11Z
22 2021-02-07T10:02:16Z
23 2021-02-07T23:01:16Z
24 2021-02-09T19:26:54Z
25 2021-02-09T19:34:17Z
27 2021-02-09T20:19:48Z
28 2021-02-09T20:53:07Z
29 2021-02-14T12:33:18Z
30 2021-02-14T12:36:03Z
31 2021-02-14T12:37:41Z
32 2021-02-14T12:38:24Z
33 2021-02-14T12:39:27Z
34 2021-02-14T12:40:13Z
35 2021-02-14T12:42:12Z
36 2021-02-14T12:43:27Z
37 2021-02-14T12:44:32Z
38 2021-02-14T12:47:56Z
39 2021-02-14T12:48:58Z
40 2021-02-14T12:55:11Z
41 2021-02-16T20:35:30Z
43 2021-02-18T18:21:50Z
44 2021-02-18T18:22:02Z
45 2021-02-18T18:24:41Z
51 2021-02-22T14:30:27Z
52 2021-02-22T14:46:08Z
53 2021-02-22T14:48:52Z
54 2021-02-22T14:56:39Z
55 2021-02-22T15:08:09Z
56 2021-02-22T15:09:47Z
57 2021-02-22T15:11:13Z
58 2021-02-22T15:13:09Z
59 2021-02-23T02:02:15Z
60 2021-02-23T02:02:58Z
67 2021-03-01T13:21:37Z
68 2021-03-01T13:23:36Z
69 2021-03-01T13:24:44Z
70 2021-03-01T13:28:45Z
71 2021-03-01T13:46:47Z
72 2021-03-01T14:01:18Z
73 2021-03-01T14:27:38Z
75 2021-03-04T06:34:56Z
76 2021-03-04T06:36:28Z
79 2021-03-06T22:56:50Z
80 2021-03-06T22:58:21Z
81 2021-03-06T22:59:31Z
82 2021-03-06T23:01:41Z
83 2021-03-06T23:02:51Z
84 2021-03-06T23:07:08Z
85 2021-03-06T23:10:42Z
86 2021-03-06T23:19:14Z
87 2021-03-06T23:22:30Z
88 2021-03-06T23:26:35Z
89 2021-03-06T23:27:37Z
91 2021-03-10T14:43:17Z
93 2021-03-13T11:12:35Z
94 2021-03-13T11:14:32Z
95 2021-03-13T11:25:16Z
96 2021-03-13T11:33:11Z
97 2021-03-13T11:39:58Z
98 2021-03-15T02:30:32Z
101 2021-03-16T14:49:52Z
102 2021-03-16T14:59:50Z
103 2021-03-16T15:00:51Z
104 2021-03-16T15:01:49Z
105 2021-03-20T04:33:39Z
107 2021-03-20T17:56:01Z
108 2021-03-20T18:05:08Z
109 2021-03-20T18:21:47Z
110 2021-03-20T18:41:05Z
111 2021-03-20T18:44:43Z
113 2021-03-21T03:25:19Z
115 2021-03-23T14:05:48Z
119 2021-03-27T13:50:07Z
120 2021-03-27T13:54:08Z
121 2021-03-27T14:06:26Z
122 2021-03-27T14:10:37Z
123 2021-03-27T14:14:35Z
124 2021-03-27T18:02:11Z
125 2021-03-27T18:02:30Z
126 2021-03-27T18:19:58Z
127 2021-04-04T11:49:57Z
128 2021-04-04T11:54:43Z
129 2021-04-04T12:05:19Z
130 2021-04-04T12:07:46Z
131 2021-04-04T12:23:59Z
132 2021-04-12T18:05:34Z
133 2021-04-12T18:10:06Z
134 2021-04-12T18:18:44Z
135 2021-04-12T18:26:51Z
136 2021-04-12T18:33:06Z
137 2021-04-13T23:58:36Z
Nunito 2021-04-16T02:11:22Z
ZenDots - MVP 2021-04-26T02:33:36Z
139 2021-04-20T01:05:27Z
140 2021-04-24T11:52:39Z
141 2021-04-24T11:55:25Z
142 2021-04-24T16:35:10Z
143 2021-04-24T16:45:12Z
Rubik 2021-04-26T03:00:19Z
Quicksand 2021-05-03T02:23:56Z
145 2021-05-02T20:41:39Z
146 2021-05-02T20:42:15Z
147 2021-05-02T20:42:46Z
148 2021-05-02T20:43:38Z
149 2021-05-02T20:44:43Z
GoblinOne 2021-05-12T01:55:04Z
150 2021-05-03T18:58:31Z
151 2021-05-05T20:36:17Z
152 2021-05-06T15:29:05Z
153 2021-05-06T15:30:45Z
154 2021-05-06T15:32:55Z
155 2021-05-07T11:30:31Z
156 2021-05-07T11:32:23Z
157 2021-05-07T11:33:53Z
158 2021-05-07T11:35:25Z
159 2021-05-07T11:36:49Z
160 2021-05-09T21:01:11Z
161 2021-05-09T21:03:13Z
162 2021-05-09T21:04:02Z
163 2021-05-09T21:04:53Z
164 2021-05-09T21:05:43Z
165 2021-05-09T21:07:06Z