In [1]:
from metaflow import Flow, get_metadata
print("Current metadata provider: %s" % get_metadata())

run = Flow('DataProcessing').latest_successful_run

Current metadata provider: local@/home/rogeriojunior/Documents/EPS/Analytics

In [2]:
m_dfs = run.data.metrics_dfs

In [3]:
m_dfs['gateway']['metrics']

,m1,m2,m3,m7,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.454545,0.0,1.0,88.81,60.45,0.480000,0.480000,56.387222,74.630,0.480000,74.630,214
nunito,0.500000,0.0,1.0,99.07,61.11,0.495000,0.495000,59.592500,80.090,0.495000,80.090,270
quicksand,0.454545,0.0,1.0,93.22,55.93,0.480000,0.480000,55.931111,74.575,0.480000,74.575,214
raleway,0.454545,0.0,1.0,99.07,61.11,0.480000,0.480000,59.592500,80.090,0.480000,80.090,216
rubik,0.538462,0.0,1.0,95.58,58.41,0.507692,0.507692,57.573056,76.995,0.507692,76.995,343
zendots,0.538462,0.0,1.0,95.58,58.41,0.507692,0.507692,57.573056,76.995,0.507692,76.995,343

In [4]:
m_dfs['gateway']['m8']

,hotfix,docs,feature,arq,devops,analytics,us,easy,medium,hard,eps,mds
goblinone,2.24,37.31,2.24,2.24,8.96,9.70,20.15,5.97,32.84,4.48,62.69,50.00
nunito,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
quicksand,2.54,41.53,2.54,2.54,8.47,0.85,22.88,6.78,26.27,2.54,58.47,48.31
raleway,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
rubik,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02
zendots,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02

In [5]:
m_dfs['gateway']['descriptive']

                          m1   m2   m3         m7         m9
mean                0.490093  0.0  1.0  95.221667  59.236667
mode                0.454545  0.0  1.0  99.070000  61.110000
standart_deviation  0.041396  0.0  0.0   3.872784   2.039202
variance            0.001714  0.0  0.0  14.998457   4.158347
min                 0.454545  0.0  1.0  88.810000  55.930000
max                 0.538462  0.0  1.0  99.070000  61.110000

In [6]:
m_dfs['user']['metrics']

,m1,m2,m3,m7,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.583333,0.0,1.0,88.81,60.45,0.522500,0.522500,56.387222,74.630,0.522500,74.630,291
nunito,0.642857,0.0,1.0,99.07,61.11,0.542143,0.542143,59.592500,80.090,0.542143,80.090,354
quicksand,0.583333,0.0,1.0,93.22,55.93,0.522500,0.522500,55.931111,74.575,0.522500,74.575,291
raleway,0.642857,0.0,1.0,99.07,61.11,0.542143,0.542143,59.592500,80.090,0.542143,80.090,354
rubik,0.642857,0.0,1.0,95.58,58.41,0.542143,0.542143,57.573056,76.995,0.542143,76.995,354
zendots,0.642857,0.0,1.0,95.58,58.41,0.542143,0.542143,57.573056,76.995,0.542143,76.995,354

In [7]:
m_dfs['user']['m8']

,hotfix,docs,feature,arq,devops,analytics,us,easy,medium,hard,eps,mds
goblinone,2.24,37.31,2.24,2.24,8.96,9.70,20.15,5.97,32.84,4.48,62.69,50.00
nunito,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
quicksand,2.54,41.53,2.54,2.54,8.47,0.85,22.88,6.78,26.27,2.54,58.47,48.31
raleway,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
rubik,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02
zendots,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02

In [8]:
m_dfs['user']['descriptive']

                          m1   m2   m3         m7         m9
mean                0.623016  0.0  1.0  95.221667  59.236667
mode                0.642857  0.0  1.0  99.070000  61.110000
standart_deviation  0.030738  0.0  0.0   3.872784   2.039202
variance            0.000945  0.0  0.0  14.998457   4.158347
min                 0.583333  0.0  1.0  88.810000  55.930000
max                 0.642857  0.0  1.0  99.070000  61.110000

In [9]:
m_dfs['rating']['metrics']

,m1,m2,m3,m7,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.750000,0.250000,1.0,88.81,60.45,0.66,0.66,56.387222,74.630,0.66,74.630,315
nunito,0.727273,0.272727,1.0,99.07,61.11,0.66,0.66,59.592500,80.090,0.66,80.090,238
quicksand,0.750000,0.250000,1.0,93.22,55.93,0.66,0.66,55.931111,74.575,0.66,74.575,315
raleway,0.727273,0.272727,1.0,99.07,61.11,0.66,0.66,59.592500,80.090,0.66,80.090,238
rubik,0.769231,0.230769,1.0,95.58,58.41,0.66,0.66,57.573056,76.995,0.66,76.995,356
zendots,0.769231,0.230769,1.0,95.58,58.41,0.66,0.66,57.573056,76.995,0.66,76.995,356

In [10]:
m_dfs['rating']['m8']

,hotfix,docs,feature,arq,devops,analytics,us,easy,medium,hard,eps,mds
goblinone,2.24,37.31,2.24,2.24,8.96,9.70,20.15,5.97,32.84,4.48,62.69,50.00
nunito,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
quicksand,2.54,41.53,2.54,2.54,8.47,0.85,22.88,6.78,26.27,2.54,58.47,48.31
raleway,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
rubik,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02
zendots,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02

In [11]:
m_dfs['rating']['descriptive']

                          m1        m2   m3         m7         m9
mean                0.748834  0.251166  1.0  95.221667  59.236667
mode                0.769231  0.272727  1.0  99.070000  61.110000
standart_deviation  0.018786  0.018786  0.0   3.872784   2.039202
variance            0.000353  0.000353  0.0  14.998457   4.158347
min                 0.727273  0.230769  1.0  88.810000  55.930000
max                 0.769231  0.272727  1.0  99.070000  61.110000

In [12]:
m_dfs['request']['metrics']

,m1,m2,m3,m7,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.769231,0.230769,1.0,88.81,60.45,0.66,0.66,56.387222,74.630,0.66,74.630,481
nunito,0.800000,0.200000,1.0,99.07,61.11,0.66,0.66,59.592500,80.090,0.66,80.090,816
quicksand,0.769231,0.230769,1.0,93.22,55.93,0.66,0.66,55.931111,74.575,0.66,74.575,481
raleway,0.800000,0.200000,1.0,99.07,61.11,0.66,0.66,59.592500,80.090,0.66,80.090,816
rubik,0.800000,0.200000,1.0,95.58,58.41,0.66,0.66,57.573056,76.995,0.66,76.995,835
zendots,0.800000,0.200000,1.0,95.58,58.41,0.66,0.66,57.573056,76.995,0.66,76.995,816

In [13]:
m_dfs['request']['m8']

,hotfix,docs,feature,arq,devops,analytics,us,easy,medium,hard,eps,mds
goblinone,2.24,37.31,2.24,2.24,8.96,9.70,20.15,5.97,32.84,4.48,62.69,50.00
nunito,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
quicksand,2.54,41.53,2.54,2.54,8.47,0.85,22.88,6.78,26.27,2.54,58.47,48.31
raleway,2.78,45.37,2.78,2.78,9.26,0.93,21.30,7.41,21.30,0.93,62.96,45.37
rubik,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02
zendots,2.65,43.36,2.65,2.65,8.85,0.88,23.89,7.08,23.01,2.65,61.06,46.02

In [14]:
m_dfs['request']['descriptive']

                          m1        m2   m3         m7         m9
mean                0.789744  0.210256  1.0  95.221667  59.236667
mode                0.800000  0.200000  1.0  99.070000  61.110000
standart_deviation  0.015889  0.015889  0.0   3.872784   2.039202
variance            0.000252  0.000252  0.0  14.998457   4.158347
min                 0.769231  0.200000  1.0  88.810000  55.930000
max                 0.800000  0.230769  1.0  99.070000  61.110000

In [15]:
services = run.data.services_metrics

In [16]:
issues_per_release = run.data.issues_per_release

In [17]:
releases = run.data.releases

In [18]:
issues_metrics = run.data.issues_metrics