In [1]:
from metaflow import Flow, get_metadata
print("Current metadata provider: %s" % get_metadata())

run = Flow('DataProcessing').latest_successful_run

Current metadata provider: local@/home/rogeriojunior/Documents/EPS/Analytics

In [2]:
m_dfs = run.data.metrics_dfs

In [3]:
m_dfs['gateway']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,214
nunito,0.500000,0.0,1.0,NaN,NaN,NaN,0.495000,0.495000,NaN,NaN,0.495000,NaN,270
quicksand,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,214
raleway,0.454545,0.0,1.0,NaN,NaN,NaN,0.480000,0.480000,NaN,NaN,0.480000,NaN,216
rubik,0.538462,0.0,1.0,NaN,NaN,NaN,0.507692,0.507692,NaN,NaN,0.507692,NaN,343
zendots,0.538462,0.0,1.0,NaN,NaN,NaN,0.507692,0.507692,NaN,NaN,0.507692,NaN,343

In [4]:
m_dfs['user']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.583333,0.0,1.0,NaN,NaN,NaN,0.522500,0.522500,NaN,NaN,0.522500,NaN,291
nunito,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
quicksand,0.583333,0.0,1.0,NaN,NaN,NaN,0.522500,0.522500,NaN,NaN,0.522500,NaN,291
raleway,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
rubik,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354
zendots,0.642857,0.0,1.0,NaN,NaN,NaN,0.542143,0.542143,NaN,NaN,0.542143,NaN,354

In [5]:
m_dfs['rating']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.750000,0.250000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,315
nunito,0.727273,0.272727,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,238
quicksand,0.750000,0.250000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,315
raleway,0.727273,0.272727,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,238
rubik,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,356
zendots,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,356

In [6]:
m_dfs['request']

,m1,m2,m3,m7,m8,m9,asc1,ac1,asc2,ac2,totalAC1,totalAC2,ncloc
goblinone,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,481
nunito,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816
quicksand,0.769231,0.230769,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,481
raleway,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816
rubik,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,835
zendots,0.800000,0.200000,1.0,NaN,NaN,NaN,0.66,0.66,NaN,NaN,0.66,NaN,816

In [7]:
services = run.data.services_metrics

In [8]:
issues_per_release = run.data.issues_per_release

In [9]:
releases = run.data.releases

In [10]:
for release, issues in issues_per_release.items():
    print(release + ' ' +  next(item for item in releases if item['name'] == release)['published_at'])
    
    for issue in issues:
        print(str(issue['number']) + ' ' + issue['created_at'])

Raleway 2021-04-14T01:28:02Z
119 2021-03-27T13:50:07Z
120 2021-03-27T13:54:08Z
121 2021-03-27T14:06:26Z
122 2021-03-27T14:10:37Z
123 2021-03-27T14:14:35Z
124 2021-03-27T18:02:11Z
125 2021-03-27T18:02:30Z
126 2021-03-27T18:19:58Z
127 2021-04-04T11:49:57Z
128 2021-04-04T11:54:43Z
129 2021-04-04T12:05:19Z
130 2021-04-04T12:07:46Z
131 2021-04-04T12:23:59Z
132 2021-04-12T18:05:34Z
133 2021-04-12T18:10:06Z
134 2021-04-12T18:18:44Z
135 2021-04-12T18:26:51Z
136 2021-04-12T18:33:06Z
137 2021-04-13T23:58:36Z
Nunito 2021-04-16T02:11:22Z
ZenDots - MVP 2021-04-26T02:33:36Z
139 2021-04-20T01:05:27Z
140 2021-04-24T11:52:39Z
141 2021-04-24T11:55:25Z
142 2021-04-24T16:35:10Z
143 2021-04-24T16:45:12Z
Rubik 2021-04-26T03:00:19Z
Quicksand 2021-05-03T02:23:56Z
145 2021-05-02T20:41:39Z
146 2021-05-02T20:42:15Z
147 2021-05-02T20:42:46Z
148 2021-05-02T20:43:38Z
149 2021-05-02T20:44:43Z
GoblinOne 2021-05-12T01:55:04Z
150 2021-05-03T18:58:31Z
151 2021-05-05T20:36:17Z
152 2021-05-06T15:29:05Z
153 2021-05-06T15:30:45Z
154 2021-05-06T15:32:55Z
155 2021-05-07T11:30:31Z
156 2021-05-07T11:32:23Z
157 2021-05-07T11:33:53Z
158 2021-05-07T11:35:25Z
159 2021-05-07T11:36:49Z
160 2021-05-09T21:01:11Z
161 2021-05-09T21:03:13Z
162 2021-05-09T21:04:02Z
163 2021-05-09T21:04:53Z
164 2021-05-09T21:05:43Z
165 2021-05-09T21:07:06Z